/* browser reset */ 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input 
{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;}  
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}  
q,blockquote{quotes:none}  
img, span, div, input, textarea, select {vertical-align:middle;}  
xmp {font-family:"Nanum Gothic";font-size:12px;}  
ul{list-style:none}  
table{border-collapse:collapse;border-spacing:0}  
.fx {table-layout:fixed;}  
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}  
fieldset, img{border:none}  
a,a:active,a:focus,a:visited{outline:none;text-decoration:none; color:white;}  
a:hover{outline:none;text-decoration:none}  
input[type="text"],textarea,select {border:solid 1px #dadada;font:inherit;}  
html, body {width:100%;height:100%;font-family:"Nanum Gothic";font-size:12px;color:#777777;}  
img.cur {cursor:pointer;} 
.foB {font-weight:bold;}  
.fLeft {float:left;}  
.fRight {float:right;}  
.taC {text-align:center;}  
.taL {text-align:left;}  
.taR {text-align:right;}  
ul.wide li {display:inline-block;*display:inline;*zoom:1;margin-right:-4px;*margin-right:0;}  
:root ul.wide li {margin-right:-4px\0/IE9;}  
dl.wide dt, dl.wide dd {display:inline-block;*display:inline;*zoom:1;margin-right:-4px;*margin-right:0;}  
:root dl.wide dt, :root dl.wide dd {margin-right:-4px\0/IE9;}  
li.end {margin-right:0 !important;padding-right:0 !important;border-right:0 !important;background:none !important;}  
.clr{display:block; float:none; clear:both; width:100%; height:0; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}  
.blk{width:100%; float:none; clear:both; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;} 
.cur {cursor:pointer;} 
span.cuation {color:#ff0060;font-size:11px;} 
/* ################################################## */ 
img.button {cursor:pointer;}